    <footer id="footer">
        <div id="content">
            <div class="data">
                <h3>SECTIONS</h3>
                <div class="sections">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                    </ul>
                    <ul>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="media">
                    <span class="iconify" data-icon="fa:whatsapp"></span>
                    <span class="iconify" data-icon="fa:instagram"></span>
                </div>
            </div>
            <div class="licensed">
                <div class="footerImg">
                    <img src="Assets/images/LOGO.png" alt="">
                    <p>Licensed by Minerals Commision Dubái</p>
                </div>
            </div>
            <div class="contact">
                <h3>Send a quick message</h3>
                <form>
                    <input type="email" class="form-control" placeholder="Enter email">
                    <textarea name="subject" class="form-control" placeholder="Message"></textarea>
                </form>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright <span id="dateNow"></span> TAAKIN PRECIOUS METAL TRADING LLC All right reserved....</p>
        </div>
    </footer>