<nav id="menuResponsive">
    <div class="contentLinks">
        <a href="/"><li data-id="0"><i class="fa-solid fa-house-user"></i> Home</li></a>
        <a href="/about"><li data-id="1"><i class="fa-solid fa-id-card"></i> About Us</li></a>
        <a href="/services"><li data-id="2"><i class="fa-solid fa-bag-shopping"></i> Services</li></a>
        <a href="/Products"><li data-id="3"><i class="fa-solid fa-boxes-stacked"></i> Products</li></a>
        <a href="/contact"><li data-id="4"><i class="fa-solid fa-square-phone"></i> Contact Us</li></a>
    </div>
</nav>