<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TAAKIN PRECIOUS METAL, an Investment Holding Company operating in two segments linked with Trading and Logistical support to business levels.">
    <meta name="og:image" content="Assets/Favicon.png">
    <title>TAAK´IN PRECIOUS METAL || About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    {{!-- CDNS --}}
    {{> links }}

</head>
<body id="about">

    <div id="scrollTop">
        <span id="progress-value"><i class="fa-solid fa-angles-up"></i></span>
    </div>

    {{!-- Nav Responsive --}}
    {{> navResponsive }}

    <header id="hero">
    {{!-- NAVBAR --}}
        {{> nav }}

        <div class="heroContain gradient" id="bannerAbout"></div>
    </header>

    <section id="firstAbout">
        <div class="primary">
            <article class="left"></article >
            <article class="right">
                <div id="firstText">
                    <h2>ABOUT US.</h2>
                    <p>TAAKIN PRECIOUS METAL, an Investment Holding Company operating in two segments linked with Trading and Logistical support to business levels.</p>
                </div>
                <div id="secondText">
                    <h2>Core Values</h2>
                    <li><i class="fa-solid fa-circle-check"></i> Quality Service</li>
                    <li><i class="fa-solid fa-shield"></i> Reliable Service</li>
                    <li><i class="fa-solid fa-calendar-check"></i> Punctual Service</i></li>
                    <li><i class="fa-solid fa-briefcase"></i> Responsive To Service</i></li>
                    <li><i class="fa-solid fa-chart-line"></i> Continuous Improvement in Service</li>
                </div>
            </article>
        </div>
        <article class="bottom">
            <div class="mission">
                <h2>MISSION <i class="fa-solid fa-circle-check" id="focus"></i></h2>
                <p>To progressively work to satisfy our clients and become a household name in logistics and trading within the West African sub-region.</p>
            </div>
            <div class="vision">
                <h2>VISION <i class="fa-solid fa-eye" id="eyes"></i></h2>
                <p>To establish a one stop centre of excellence in commodity trading and logistics within the West African sub-region.</p>
            </div>
        </article>
    </section>

    <section id="secondAbout">
        <article class="moreUs">
            <h2>MORE ABOUT US</h2>
            <p>TAAKIN PRECIOUS METAL has established strategic working relationships with business entities in China, Dubai and South Africa. We liaise with our Strategic Partners in the United States of America and Europe to deliver our tailored-to-suit services to our clients.</p>
            <h4>We undertake the under-listed services for our clients;</h4>
            <div class="list">
                <li>Due diligence on Suppliers -Checking on the authenticity of the source of supply.</li>
                <li>Freight forwarding -From source of supply and to source of destination.</li>
                <li>Ware-housing Facilitation -Goods on transit etc etc.</li>
                <li>Collateral Management -Goods that are kept, duty-payable and cleared intermittently</li>
                <li>Transportation -Carting of goods from and to destinations</li>
                <li>Port Clearing Activities</li>
                <li>Consultancy Services -Trading</li>
                <li>Advisory Services to Importers</li>
                <li>Goods Monitoring Services-shipment to and from sources of supply.</li>
            </div>
        </article>
    </section>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- SRC: JS --}}
    {{> js }}
</body>
</html>