<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ghana’s gold is considered the purest in Africa and has been the choice of most dealers. Supply of gold from TAAKIN PRECIOUS METAL comes with flexible, transparent and quick delivery to destinations all over the world.">
    <meta name="og:image" content="Assets/Favicon.png">
    <title>TAAK´IN PRECIOUS METAL || Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {{!-- CDNS --}}
    {{> links }}

</head>
<body id="products">

    <div id="scrollTop">
        <span id="progress-value"><i class="fa-solid fa-angles-up"></i></span>
    </div>

    {{!-- NAV RESPONSIVE --}}
    {{> navResponsive}}

    <header id="hero">
    {{!-- NAVBAR --}}
        {{> nav }}

        <div class="heroContain gradient" id="bannerProducts"></div>
    </header>

    <section id="productGold">
        <img src="https://images.unsplash.com/photo-1610375461246-83df859d849d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
        <div class="info">
            <h2>Gold</h2>
            <p>Dubai gold is considered the purest in Asia and has been the choice of most dealers. Supply of gold from TAAKIN PRECIOUS METAL comes with flexible, transparent and quick delivery to destinations all over the world.</p>
        </div>
    </section>

    <section id="firstProduct">
        <div class="contentCards">
            <article class="one" id="card">
                <img src="../Assets/images/Oil-packed.jpg" alt="" class="imgCard">
                <h2 class="title-md">Edible Oil</h2>
                <p class="textCard">TAAKIN PRECIOUS METAL is keenly involved in the vegetable oils market. We supply both refined and crude vegetable oils from palm, soya, sunflower and corn. We can provide bulk as well as flexitanks. Food service and retail sizes of refined oils are also available.</p>
                <h3 class="subtitle">TYPES</h3>
                <p class="textCard">Olive, Palm, Coconut, Soyabean, Corn etc.</p>
            </article>
            <article class="two" id="card">
                <img src="../Assets/images/shutterstock.jpg" alt="" class="imgCard">
                <h2 class="title-md">Rice</h2>
                <p class="textCard">We import and export a wide variety of rice from all over the world. We re-bag to suit the market (25kg & 50kg)</p>
                <h3 class="subtitle">TYPES</h3>
                <p class="textCard">Long grain white rice, Brown rice, 5% and 25% Broken white rice etc</p>
            </article>
            <article class="three" id="card">
                <img src="../Assets/images/DSC06024.jpg" alt="" class="imgCard">
                <h2 class="title-md">Maize</h2>
                <p class="textCard">We trade both white maize (preferred in Africa for human consumption) and yellow maize (stock feeds).We rebag to suit the market (10kg, 15kg, 25kg)</p>
            </article>
            <article class="four" id="card">
                <img src="../Assets/images/nuts.jpg" alt="" class="imgCard">
                <h2 class="title-md">Spices and Nuts</h2>
                <p class="textCard">We also export high quality but small volume spices to other countries which     include ginger, cloves and coriander seed.</p>
            </article>
        </div>
    </section>

    <section id="secondProduct">
        <div class="contentCards">
            <article class="four" id="card">
                <img src="../Assets/images/lemongrass.jpg" alt="" class="imgCard">
                <h2 class="title-md">Lemon Grass</h2>
                <p class="textCard">We export fresh and dry lemongrass stalks</p>
            </article>
            <article class="three" id="card">
                <img src="../Assets/images/mellet.jpg" alt="" class="imgCard">
                <h2 class="title-md">Millet</h2>
                <p class="textCard">A In sub-Saharan Africa it is the 3rd most widely grown crop and 6th in the world. Millet is an extremely important food staple in many African countries.</p>
            </article>
            <article class="two" id="card">
                <img src="../Assets/images/Prekese.jpg" alt="" class="imgCard">
                <h2 class="title-md">Prekese</h2>
                <p class="textCard">We export in bulk or smaller quantities. Prekese is used as a spice, a medicine and as a dietary supplement rich in vitamins. It is mainly grown in Ghana, West Africa and is useful for its medicinal benefits. It can be packaged in powdered form or in its raw state.</p>
            </article>
            <article class="one" id="card">
                <img src="../Assets/images/sugar1.jpg" alt="" class="imgCard">
                <h2 class="title-md">Sugar</h2>
                <p class="textCard">TAAKIN PRECIOUS METAL imports sugar directly or helps its client importers to import from sugar mills and refineries from various countries throughout the world. We ship in bulk and in bags.
                <br>
                <br>
                We trade in refined white sugar, Icumsa 45 and 150. They are kinds that are used for both domestic consumption and industrial purposes.</p>
            </article>
        </div>
    </section>

    {{!-- Footer --}}
    {{> footer}}

    {{!-- SRC: JS --}}
    {{> js }}
</body>
</html>