<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TAAKIN PRECIOUS METAL is incorporated in Ghana and it is a wholly Ghanaian liability company.">
    <meta name="og:image" content="Assets/Favicon.png">
    <title>TAAK´IN PRECIOUS METAL || Services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    {{!-- CDNS --}}
    {{> links }}

</head>
<body id="services">

    <div id="scrollTop">
        <span id="progress-value"><i class="fa-solid fa-angles-up"></i></span>
    </div>

    {{!-- NAV RESPONSIVE --}}
    {{> navResponsive }}

    <header id="hero">
    {{!-- NAVBAR --}}
        {{> nav }}

        <div class="heroContain gradient" id="bannerServices"></div>
    </header>

    <section id="firstServices">
        <div class="containerOne">
            <h2>OUR GOLD SUPPLY SERVICES</h2>
            <p>TAAKIN PRECIOUS METAL is incorporated in Ghana and it is a wholly Ghanaian liability company.</p>
            <ul>
                <li>We operate under license issued by the Minerals Commission of Ghana to Purchase, Assay And Export Minerals from Ghana to the Global World.</li>
                <li>Our specialty is enormous in Buying, Assaying, and Exporting Gold to our Clients in China, Hong-Kong and Guangzhou, UAE, Dubai and Sharjah, South Africa and Cameroun where we have registered offices for our operations.</li>
                <li>We also undertake Gold Delivery Services to any Buyer’s Destination.</li>
                <li>We have positive arrangements in place to meet Clients requirements for all Gold transactions upon request.</li>
            </ul>
        </div>
        <div class="containerTwo">
            <img src="../Assets/images/pexels-artem-podrez-5025643.jpg" alt="">
        </div>
    </section>

    <section id="secondServices">
        <div class="gridTable">
            <article class="column">
                <img src="../Assets/images/pexels-pixabay-47047.jpg" alt="">
                <h3>REVOLVING (PRE-FINANCE)</h3>
                <p>GOLD is a cash back commodity, and Mining is a capital-intensive venture. As such, the only way to secure regular supply at reasonable and realistic discounts is to Pre-Finance.</p>
                <p>This arrangement allows clients consistent supply of GOLD at good discount. Clients are required to make monthly orders for a minimum of 6 months. Supply commences 14 days – 30 days after full</p>
                <p>payment is received. The advantage is to have good reasonable discount and thereby increasing profit and satisfaction for our clients. This is 100% Pre-finance.</p>
            </article>
            <article class="column">
                <img src="../Assets/images/pexels-linkedin-sales-navigator-2182977.jpg" alt="">
                <h3>JOINT VENTURE</h3>
                <p>This arrangement is there to address the insatiable desire of the investor who loves to partner a growing business. There is room for flexibility, safety, confidence,</p>
                <p>satisfaction, transparency and above all maximization of return on investment. The terms are negotiable in this particular</p>
                <p>aspect that exploits the rich concessions available and under the management of TAAKIN PRECIOUS METAL</p>
            </article>
            <article class="column">
                <img src="../Assets/images/19gold4.jpg" alt="">
                <h3>GOLD DEALINGS</h3>
                <p>TAAKIN PRECIOUS METAL is licensed to Purchase Gold from SMALL SCALE MINING Companies in Ghana. This opportunity puts TAAKIN PRECIOUS METAL in a pole position to access Gold regularly when it is mined.</p>
                <p>Clients are implored to open a Metal Account with TAAKIN PRECIOUS METAL for Gold Dealing.</p>
                <p>With this account in place, Clients have an option to deposit funds into their Metal Account for ready Purchase once Gold is available. The advantage here is to have replicable access to Gold to be purchased to meet Clients’ requests.</p>
            </article>
            <article class="column">
                <img src="../Assets/images/gold-altin.jpg" alt="">
                <h3>EXPORT</h3>
                <p>TAAKIN PRECIOUS METAL which is licensed by the Minerals Commission of Ghana, exports Gold from Accra, Ghana to any destination/refinery of the client through Emirates Sky Cargo or KLM, Royal Dutch</p>
                <p>Airlines as mandated by the conditions in the License. Clients across the Globe can comfortably place an order and make payment for Export Services of Gold purchased from 3rd Parties through TAAKIN PRECIOUS METAL without travelling to Accra .</p>
            </article>
        </div>
    </section>

    <section id="threeServices">
        <div id="supply">
            <img src="https://images.unsplash.com/photo-1624365168785-c65be9114821?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
            <h3>GOLD SUPPLY USING BANKING INSTRUMENTS</h3>
            <p>TAAKIN PRECIOUS METAL accepts the following banking instruments for Gold Supply Transactions</p>
            <ol>
                <li>Bank Guarantee (MT760BG)</li>
                <li>Stand by letter of Credit (SBLC)</li>
                <li>Clients have the option to Transact with Banking Instruments particularly (MT760BG and MT760SBLC) issued to their Monetizer to grant TAAKIN PRECIOUS METAL loan for the supply of Gold.
                <br>
                <b>NOTE</b> : For all Banking Instrument Transactions, a Tripartite Agreement has to be signed by all parties (thus Buyer, Seller and Monetizer). For Cash transactions payments can be made directly into TAAKIN PRECIOUS METAL account. Gold is supplied 30days after TAAKIN PRECIOUS METAL receives the LTV (Loan) from the Monetizer.</li>
            </ol>
            <p>PLEASE NOTE</p>
            <p>Clients are required to register and sign the Export Service Agreement before the commencement of any selected procedure. Charges on export are 1-1.5% of export value</p>
        </div>
        <div id="procedure">
            <img src="../Assets/images/procedures.webp" alt="">
            <h3>PROCEDURES</h3>
            <p>Procedures, under which GOLD TRADING with TAAKIN PRECIOUS METAL has been put together as follows:</p>
            <p>Opening of Gold Export Account. Contractual Agreement on Gold Trading Account. Charges on export are 1-1.5% of export value.</p>
            <p><b>Conditions on Supply:</b></p>
            <p>Revolving Agreement Under this arrangement one has the opportunity to tie ends in supply of Gold with TAAKIN PRECIOUS METAL for continuity. Registration with TAAKIN PRECIOUS METAL is required Trading.</p>
            <p>This arrangement is to address Clients’ GOLD trading activities at TAAKIN PRECIOUS METAL on call time basis and it is accessible to registered Clients.</p>
        </div>
    </section>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- SRC: JS --}}
    {{> js }}
</body>
</html>